<%- include("partials/header") %>

<section>
  <article>
    <h2>SQL Basics</h2>
    <p>SQL is used to communicate with databases to create tables, insert data, and run queries.</p>

    <pre>
CREATE TABLE Students (
  ID INT PRIMARY KEY,
  Name VARCHAR(50),
  Major VARCHAR(30)
);
    </pre>

    <p>This example creates a table named Students with three columns. SQL lets you define how data is structured and retrieve it later using queries.</p>

    <img src="/img/sql-joins-infographic.jpg" width="400">

    <h3>References:</h3>
    <ul style="text-align: left; width: 60%; margin: 0 auto;">
      <li><a href="https://www.appsilon.com/post/introduction-to-sql" target="_blank">Appsilon – Introduction to SQL</a></li>
    </ul>
  </article>
</section>

<%- include("partials/footer") %>
