<header>
    <h1>Data and Databases</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/databases">Databases</a>
      <a href="/sql">SQL</a>
      <a href="/realworld">Real World</a>
      <a href="/quotes">Quotes</a>
      <a href="/api-data">API Data</a>
    </nav>
  </header>
  